on:
  push:
    branches:
      - master
name: release-please
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: GoogleCloudPlatform/release-please-action@v2.6.0
        with:

          token: ${{ secrets.GITHUB_TOKEN }}

          release-type: python
          package-name: mofdscribe
